{% extends "layout.html" %}
{% block main %}

<h1>Bildklassifikation mit ml5   <a href="documentation.html">Dokumentation</a></h1>
<section class="row">
  <div class="col-lg-7">
    <div id="image_active" >
      <div  id="img_icon" class="active">
        <span class="iconify" data-icon="bi:image-fill"></span>
        <p>Drag Image here</p>
      </div>
    </div>
    <input class="mt-2" id="image_input" type='file' accept="image/png, image/jpg"/>
  </div>
  <div class="col-lg-5 position-relative" id="classification">
    <div id="loader"></div>
    <div id="plot" class="active">
      <div class="help-icon" data-key="classifier-helper">
        <span class="iconify" data-icon="bx:help-circle"></span>
        <div id="classifier-helper">
          Hier sehen Sie das Ergebnis der Bildklassifikation mit dem TensorFlow Deep Learning Modell 
          <a href="https://github.com/tensorflow/tfjs-models/tree/master/mobilenet">TensorFlow.js MobileNetV2</a>.
          Das Modell trifft Vorhersagen darüber, was auf dem Bild zu sehen ist. Diese Vorhersagen wurden aus einem 
          Datensatz von 50k Bildern vom Modell erlernt. Es werden die drei Erebnise mit den höchsten Konfidenzwerten angezeigt.
          <a href="https://learn.ml5js.org/#/reference/image-classifier?id=model-and-data-provenance">Mehr Infos</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id ="examples">
  <h3>
    Beispielbilder
    <div class="help-icon" data-key="examples-helper">
      <span class="iconify" data-icon="bx:help-circle"></span>
      <div id="examples-helper">
        Klicken sie auf die Beispielbilder, um diese klassifizieren zu lassen. Auf der rechten Seite können sie die Klassifikation anschließend sehen.
        Die Beispielbilder wurden so gewählt, dass die Hälfte von ihnen richtig und die andere Hälfte falsch von dem Deep Learning Model
        klassifiziert wurden. Es können sowohl Fotos als auch Zeichnungen oder Grafiken klassifiziert werden.
      </div>
    </div>
  </h3>
  <div class="row">
    <div class="col-xl-6">
      <p>Richtige Klassifikation</p>
      <div id="exampleimages_right" class="exampleimages">
      </div>
    </div>
    <div class="col-xl-6">
      <p>Falsche Klassifikation</p>
      <div id="exampleimages_wrong" class="exampleimages">
      </div>
    </div>
</div>
</section>



{% endblock %}


